@model IEnumerable<Regularidad.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de tickets</h1>

<div class="d-flex justify-content-end  ">
    <a asp-action="Create" class="btn p-3 font-weight-bold" style=" background-color: #dfc207">
        <i class="fa-solid fa-folder-plus fa-2xl" style="color: dark"></i>
        Crear nuevo
    </a>
</div>
<form asp-action="Index" method="get" class="bg-dark rounded text-light ">
    <div class="col-4-md m-3  p-3">
        <h3> Filtrar </h3>
          <input type="date" name="buscFecha" class="rounded border-0 m-2 p-2" placeholder="Fecha" />
            <input type="text" name="buscObservacion" class="rounded border-0 m-2 p-2" placeholder="Observacion" />
       @*  <input type="text" name="buscAfiliado" class="rounded border-0 m-2 p-2" placeholder="Afiliado" /> *@
        <button type="submit" class="btn btn-light">  Filtrar </button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
              Fecha de solicitud
            </th>
            <th>
                Observacion
            </th>
            <th>
               Afiliado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSolicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.afiliado.NombreCompleto)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm ">
                        <i class="fa-solid fa-circle-info fa-xl" style="color: #343232;"></i>
                    </a>

                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm ">
                        <i class="fa-solid fa-file-pen fa-xl" style="color: #343232;"></i>
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm ">
                        <i class="fa-solid fa-trash fa-xl" style="color: #d10000;"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
